.nav-link {
  list-style: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
}
.nav-link.active a {
  background-color: var(--secondary-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
  color: var(--primary-color);
}

.nav-link a {
  display: flex;
  align-items: center;
  border: 1px solid transparent;
  width: 100%;
  gap: 12px;
  text-decoration: none;
  font-weight: 500;
  padding: 10px 16px;
  border-radius: 8px;
  color: var(--text-gray);
}
