:root {
  --primary-color: #227447;
  --secondary-color: #99c8a0;
  --tertiary-color: #acd2b2;
  --quaternary-color: #bfdcc4;
  --quinary-color: #d2e6d6;
  --senary-color: #e6f0e8;
  --septenary-color: #fafafa;

  --text-sm: 12px;
  --text-md: 14px;
  --text-lg: 16px;
  --text-xl: 18px;
  --text-2xl: 20px;
  --text-3xl: 24px;
  --text-4xl: 32px;
  --text-5xl: 40px;

  --success-color: #16a34a;
  --danger-color: #ef4444;

  --text-black: #1c1917;
  --text-white: #fff;
  --text-gray: #78716c;

  --header-height: 64px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}
